page-size {
    .size {
        background-image: url("../../assets/green_bg.png");
        background-size: cover;
    }

    .size_select {
        height: 40%;
    }

    button {
        margin-top: 90%;
    }
}
