page-location {
    
    .location {
        background-image: url("../../assets/green_bg.png");
        background-size: cover;
    }

    .shadow {
        border-radius: 7px;
    }

    .setupQ {
        margin-bottom: 6%;
    }

    img {
        width: 93%;
        height: auto;
        margin-bottom: 6%;
    }


    .btn {
        margin-top: 115%;
    }
}
