// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

$auxo_green: #93CE5C;

.auxo_logo {
  height: 30px;
  width: auto;
}

.btn-auxo {
    color: #fff;
    background-color: $auxo_green;
    border: none;
    width: 85%;
    height: 45px;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.16);
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 600;
}

.btn-auxo:hover,
.btn-auxo:focus,
.btn-auxo:active  {
    color: #fff;
    background-color: $auxo_green;
    border: none;
    width: 85%;
    height: 45px;
}

.btn-next {
      color: $auxo_green;
      background-color: white;
      border: none;
      width: 85%;
      height: 45px;
      box-shadow: 0px 2px 2px rgba(0,0,0,0.16);
      font-size: 17px;
      text-transform: uppercase;
      font-weight: 600;
    }

    .btn-next:hover,
    .btn-next:focus,
    .btn-next:active  {
      color: $auxo_green;
      background-color: white;
      border: none;
      width: 85%;
      height: 45px;
    }

.btn-done {
        color: #50AED0;
        background-color: white;
        border: none;
        width: 85%;
      height: 45px;
      box-shadow: 0px 2px 2px rgba(0,0,0,0.16);
      font-size: 17px;
      text-transform: uppercase;
      font-weight: 600;
    }

    .btn-done:hover,
    .btn-done:focus,
    .btn-done:active  {
        color: #50AED0;
        background-color: white;
        border: none;
        width: 85%;
      height: 45px;
    }

h1 {
  margin-top: 20%;
  color: white;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}

h2 {
  margin-top: 20%;
  color: white;
  font-weight: 700;
  font-size: 23px;
  text-align: center;
}

h3 {
  color: white;
  font-weight: 600;
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;
}

h6 {
  color:#52772C;
  font-size: 12px;
  font-weight: 800;
  text-align: center;
  margin: 0;
  text-transform: uppercase;
}

.shadow {
  box-shadow: 0px 2px 2px rgba(0,0,0,0.16);
}

::-webkit-scrollbar,
    *::-webkit-scrollbar {
      display: none;
}